$col-thm: #00A78E;
$col-thm-opaque: #00A78E88;
$col-thm-opaquer: #00A78E11;
$col-code: #8932AF;
$col-code-bg: #EEEEEE99;
$col-ele: #409EFF;
$col-main: #303133;
$col-text: #606266;
$col-info: #909399;
$col-ph: #C0C4CC;
$col-bdr1: #DCDFE6;
$col-bdr2: #E4E7ED;
$col-bdr3: #EBEEF5;
$col-bdr4: #F2F6FC;
$col-ok: #67C23A;
$col-warn: #E6A23C;
$col-err: #F56C6C;
$col-bg: #FFF;
$col-main-alt: #EEE;
$col-text-alt: #CCC;
$col-info-alt: #AAA;
$col-ph-alt: #888;
$col-block: #FAFAFA;
$col-container: #EFEFEF;

:export {
  name: "colorStyles";
  themeColor: $col-thm;
  codeColor: $col-code;
}
