$wdt-card: 320px;
$mar-lg: 40px;
$mar-md: 20px;
$mar-sm: 10px;
$lh-xxlg: 2.25em;
$lh-xlg: 2em;
$lh-lg: 1.75em;
$lh-md: 1.5em;
$lh-sm: 1.25em;
$lh-xsm: 1em;
$lh-xxsm: 0.75em;
$xsm: 12px;
$sm: 13px;
$bs: 14px;
$rg: 15px;
$md: 16px;
$lg: 18px;
$xlg: 20px;

:export {
  baseSize: $bs;
  regularSize: $rg;
}
