$wdt-card: 320px;
$mar-xl: 60px;
$mar-lg: 40px;
$mar-md: 20px;
$mar-sm: 10px;
$mar-xs: 5px;
$lh-xxl: 2.25em;
$lh-xl: 2em;
$lh-lg: 1.75em;
$lh-md: 1.5em;
$lh-sm: 1.25em;
$lh-xs: 1em;
$lh-xxs: 0.75em;
$xs: 12px;
$sm: 13px;
$bs: 14px;
$rg: 15px;
$md: 16px;
$lg: 18px;
$xl: 20px;

:export {
  baseSize: $bs;
  regularSize: $rg;
}
